spring:
  config:
    import: optional:configserver:http://arka-load-balancer-1687287239.us-east-2.elb.amazonaws.com:8888

  cloud:
    config:
      fail-fast: false
      retry:
        max-attempts: 6

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: 5672
    username: arka
    password: arka123

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    root: WARN
    com.arka: INFO

notificacion:
  webhook:
    url: https://enyoitrabajo.app.n8n.cloud/webhook/44e87a4a-2b6b-4f81-84ef-1c336eb39ced